<h1>Add new Archmage</h1>

<%= form_with scope: :archmage, url: archmages_path, local: true, data: { turbo: false } do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.submit %><br>

    </p>
  <% end %>